# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.venv
.DS_Store
dist
*.local
sap-message-capture/

.vscode/
.cursor/
.windsurf/
.trae/
.qoder/
.roo/
.kiro/
.clinerules/
.codebuddy/
.claude/
.comate/
.codex/
.gemini/
.lingma/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?